<footer>
  <div class="footer-container">

    <div class="footer-top">

      <div class="footer-info">
        <img src="assets/Belissima-icon-branco.png" alt="Logo Belíssima">
        
        <p>Transforme sua paixão por beleza em fonte de renda e se torne uma empreendedora de sucesso na área da beleza.</p>
      </div>

      <div class="footer-links">
        <div class="links-column">
          <strong>Siga-nos</strong>
          
          <div class="social-icons">
            <a href="#" aria-label="Instagram">
              <img src="assets/icons/Instagram-Icon.svg" alt="Ícone do Instagram">
            </a>
            <a href="#" aria-label="Facebook">
              <img src="assets/icons/facebook-Icon.svg" alt="Ícone do Facebook">
            </a>
            <a href="#" aria-label="YouTube">
              <img src="assets/icons/youtube-Icon.svg" alt="Ícone do YouTube">
            </a>
          </div>
        </div>
        
        <div class="links-column">
          <strong>Contato</strong>
          <p class="contact-details">0800 000 000</p>
          <a href="mailto:{{ emailContato }}" class="contact-details">{{ emailContato }}</a>
        </div>
      </div>

    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
      <span>© 2024 XPTO Beleza Essencial. Todos os direitos reservados.</span>
      <div class="legal-links">
        <a href="#">Política de privacidade</a>
        <a href="#">Termos de uso</a>
      </div>
    </div>

  </div>
</footer>