.hover-underline {
    position: relative;
    cursor: pointer;
}

.hover-underline::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #7D4A58;
    transition: width 0.3s ease;
}

.hover-underline:hover::after {
    width: 100%;
}