<div class="d-flex align-items-center justify-content-between" style="margin-left: 120px; margin-right: 120px; height: 64px;">
    <img src="/assets/Logo.png" alt="logo belissima" class="h-auto" style="max-height: 32px; width: auto;">
    <div class="d-flex gap-3 ">
        <div>
            <a class="text-dark text-decoration-none hover-underline" style="font-size: 16px; font-weight: 400;">Serviços</a>   
        </div>
        <div>
            <a class="text-dark text-decoration-none hover-underline" style="font-size: 16px; font-weight: 400;">Quem somos</a>
        </div>
        <div>
            <a class="text-dark text-decoration-none hover-underline" style="font-size: 16px; font-weight: 400;">Contato</a>
        </div>
    </div>
</div>
